body {
    margin: 0;
}

.layout {
    min-width: 100vw;
    min-height: 100vh;

    .layout-header {
        height: 56px;
        border-width: 0 0 1px 0;
    }

    .layout-content {
        width: calc(100% - 600px);
        margin: 0 auto 0;
    }
}
